@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShowApi</title>
    <script src="~/js/jquery1.11.3.min.js"></script>
    <script type="text/javascript">

        $(document).ready(function(){
            //var obj = eval('(' + @ViewBag.jsondata + ')');

        })
    </script>

</head>
<body>
    <div>
        1111111111
        <p id="p1">@ViewBag.jsondata</p>
    </div>
</body>
</html>
